/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.gem
*.rbc
.bundle
.config
InstalledFiles
doc/
lib/bundler/man
rdoc
test/tmp
test/version_tmp
.ruby-version
.tool-version
.ruby-gemset
Gemfile.lock